@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

.titles {
  background: #000;
  color: white;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}
.titles h1 {
  background: #000;
  color: white;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.tabs .tab-title>a {
  font-size: 30px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.tabs li:not(.active) a {
  color: #888;
}
.tabs li:not(.active) a:hover {
  color: #000;
}