<!DOCTYPE html>
<html>

<head>
  <title>Edge Kingsland | Litergy machine</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css">
  <link type="text/css" href="css/style.css" rel="stylesheet">
</head>

<body ng-app="edgeKingsland">
  <div class="container">
    <div class="row">
      <div class="large-12 columns v-center">
        <h1>Litergy machine</h1>
        <p class="lead">Lorem ipsum something something normal time instructions and positioning</p>
      </div>
    </div>
  </div>
  <div class="container" ng-controller="InstagramCtrl">
    <div class="row">
      <ul class="tabs" data-tab>
        <li class="litergy active"><a href="#{{example1.hash}}">#{{example1.hash}}</a></li>
        <li class="feedback"><a href="#{{example2.hash}}">#{{example2.hash}}</a></li>
      </ul>
      <div class="tabs-content">
        <div class="content active" id="#{{example1.hash}}">
          <ul class="clearing-thumbs small-block-grid-4" data-clearing>
            <li ng-repeat="item in example1.items">
              <a ng-href="{{item.link}}">
                <img ng-src="{{ item.images.low_resolution.url }}">
              </a>
            </li>
          </ul>
          <div ng-show="example1.error" class="alert alert-danger">
            <strong>Warning!</strong>
            <br/>{{example1.error}}.
          </div>
        </div>
        <div class="content" id="#{{example2.hash}}">
          <ul class="clearing-thumbs small-block-grid-4" data-clearing>
            <li ng-repeat="item in example2.items">
              <a ng-href="{{item.link}}">
                <img ng-src="{{ item.images.low_resolution.url }}">
              </a>
            </li>
          </ul>
          <div ng-show="example2.error" class="alert alert-danger">
            <strong>Warning!</strong>
            <br/>{{example1.error}}.
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/instagram/factory.js"></script>
  <script src="js/instagram/controller.js"></script>
  <script>
  $(document).foundation();
  </script>
</body>

</html>